.size--small-print {
  font-size: 0.8rem;
}

.size--base {
  font-size: 1rem;
}

.size--lead {
  font-size: 1.4rem;
}

.weight--x-light {
  font-weight: 200;
}

.weight--light {
  font-weight: 300;
}

.weight--base {
  font-weight: 400;
}

.weight--bold {
  font-weight: 700;
}

.weight--heavy {
  font-weight: 900;
}

.letter-spacing--tight {
  letter-spacing: -0.125rem;
}

.letter-spacing--base {
  letter-spacing: 0;
}

.letter-spacing--wide {
  letter-spacing: 0.125rem;
}

@media screen and (min-width: 0) {
  .xs\:size--small-print {
    font-size: 0.8rem;
  }

  .xs\:size--base {
    font-size: 1rem;
  }

  .xs\:size--lead {
    font-size: 1.4rem;
  }

  .xs\:weight--x-light {
    font-weight: 200;
  }

  .xs\:weight--light {
    font-weight: 300;
  }

  .xs\:weight--base {
    font-weight: 400;
  }

  .xs\:weight--bold {
    font-weight: 700;
  }

  .xs\:weight--heavy {
    font-weight: 900;
  }

  .xs\:letter-spacing--tight {
    letter-spacing: -0.125rem;
  }

  .xs\:letter-spacing--base {
    letter-spacing: 0;
  }

  .xs\:letter-spacing--wide {
    letter-spacing: 0.125rem;
  }
}
@media screen and (min-width: 576px) {
  .sm\:size--small-print {
    font-size: 0.8rem;
  }

  .sm\:size--base {
    font-size: 1rem;
  }

  .sm\:size--lead {
    font-size: 1.4rem;
  }

  .sm\:weight--x-light {
    font-weight: 200;
  }

  .sm\:weight--light {
    font-weight: 300;
  }

  .sm\:weight--base {
    font-weight: 400;
  }

  .sm\:weight--bold {
    font-weight: 700;
  }

  .sm\:weight--heavy {
    font-weight: 900;
  }

  .sm\:letter-spacing--tight {
    letter-spacing: -0.125rem;
  }

  .sm\:letter-spacing--base {
    letter-spacing: 0;
  }

  .sm\:letter-spacing--wide {
    letter-spacing: 0.125rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:size--small-print {
    font-size: 0.8rem;
  }

  .md\:size--base {
    font-size: 1rem;
  }

  .md\:size--lead {
    font-size: 1.4rem;
  }

  .md\:weight--x-light {
    font-weight: 200;
  }

  .md\:weight--light {
    font-weight: 300;
  }

  .md\:weight--base {
    font-weight: 400;
  }

  .md\:weight--bold {
    font-weight: 700;
  }

  .md\:weight--heavy {
    font-weight: 900;
  }

  .md\:letter-spacing--tight {
    letter-spacing: -0.125rem;
  }

  .md\:letter-spacing--base {
    letter-spacing: 0;
  }

  .md\:letter-spacing--wide {
    letter-spacing: 0.125rem;
  }
}
@media screen and (min-width: 992px) {
  .lg\:size--small-print {
    font-size: 0.8rem;
  }

  .lg\:size--base {
    font-size: 1rem;
  }

  .lg\:size--lead {
    font-size: 1.4rem;
  }

  .lg\:weight--x-light {
    font-weight: 200;
  }

  .lg\:weight--light {
    font-weight: 300;
  }

  .lg\:weight--base {
    font-weight: 400;
  }

  .lg\:weight--bold {
    font-weight: 700;
  }

  .lg\:weight--heavy {
    font-weight: 900;
  }

  .lg\:letter-spacing--tight {
    letter-spacing: -0.125rem;
  }

  .lg\:letter-spacing--base {
    letter-spacing: 0;
  }

  .lg\:letter-spacing--wide {
    letter-spacing: 0.125rem;
  }
}
@media screen and (min-width: 1200px) {
  .xl\:size--small-print {
    font-size: 0.8rem;
  }

  .xl\:size--base {
    font-size: 1rem;
  }

  .xl\:size--lead {
    font-size: 1.4rem;
  }

  .xl\:weight--x-light {
    font-weight: 200;
  }

  .xl\:weight--light {
    font-weight: 300;
  }

  .xl\:weight--base {
    font-weight: 400;
  }

  .xl\:weight--bold {
    font-weight: 700;
  }

  .xl\:weight--heavy {
    font-weight: 900;
  }

  .xl\:letter-spacing--tight {
    letter-spacing: -0.125rem;
  }

  .xl\:letter-spacing--base {
    letter-spacing: 0;
  }

  .xl\:letter-spacing--wide {
    letter-spacing: 0.125rem;
  }
}
.text-main {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: -0.125rem;
}

.text-test {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
}
