.font-size--small-print {
  font-size: 0.8rem;
}

.font-size--base {
  font-size: 1rem;
}

.font-size--lead {
  font-size: 1.25rem;
}

.font-size--sub-heading {
  font-size: 2.44140625rem;
}

.font-size--heading {
  font-size: 3.0517578125rem;
}

.font-size--display {
  font-size: 6rem;
}

.weight--x-light {
  font-weight: 200;
}

.weight--light {
  font-weight: 300;
}

.weight--base {
  font-weight: 400;
}

.weight--thick {
  font-weight: 600;
}

.weight--heavy {
  font-weight: 900;
}

@media screen and (min-width: 0) {
  .xs\:font-size--small-print {
    font-size: 0.8rem;
  }

  .xs\:font-size--base {
    font-size: 1rem;
  }

  .xs\:font-size--lead {
    font-size: 1.25rem;
  }

  .xs\:font-size--sub-heading {
    font-size: 2.44140625rem;
  }

  .xs\:font-size--heading {
    font-size: 3.0517578125rem;
  }

  .xs\:font-size--display {
    font-size: 6rem;
  }
}
@media screen and (min-width: 576px) {
  .sm\:font-size--small-print {
    font-size: 0.8rem;
  }

  .sm\:font-size--base {
    font-size: 1rem;
  }

  .sm\:font-size--lead {
    font-size: 1.25rem;
  }

  .sm\:font-size--sub-heading {
    font-size: 2.44140625rem;
  }

  .sm\:font-size--heading {
    font-size: 3.0517578125rem;
  }

  .sm\:font-size--display {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .md\:font-size--small-print {
    font-size: 0.8rem;
  }

  .md\:font-size--base {
    font-size: 1rem;
  }

  .md\:font-size--lead {
    font-size: 1.25rem;
  }

  .md\:font-size--sub-heading {
    font-size: 2.44140625rem;
  }

  .md\:font-size--heading {
    font-size: 3.0517578125rem;
  }

  .md\:font-size--display {
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .lg\:font-size--small-print {
    font-size: 0.8rem;
  }

  .lg\:font-size--base {
    font-size: 1rem;
  }

  .lg\:font-size--lead {
    font-size: 1.25rem;
  }

  .lg\:font-size--sub-heading {
    font-size: 2.44140625rem;
  }

  .lg\:font-size--heading {
    font-size: 3.0517578125rem;
  }

  .lg\:font-size--display {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .xl\:font-size--small-print {
    font-size: 0.8rem;
  }

  .xl\:font-size--base {
    font-size: 1rem;
  }

  .xl\:font-size--lead {
    font-size: 1.25rem;
  }

  .xl\:font-size--sub-heading {
    font-size: 2.44140625rem;
  }

  .xl\:font-size--heading {
    font-size: 3.0517578125rem;
  }

  .xl\:font-size--display {
    font-size: 6rem;
  }
}
.text-body, p:not([class]) {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  text-align: start;
  max-width: 70ch;
}

.text-lead {
  font-family: Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.5;
  text-align: start;
  max-width: 62ch;
}

.text-subheading, h2, h3 {
  font-family: Georgia, serif;
  font-size: 2.44140625rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: start;
}

.text-heading, h1 {
  font-family: Georgia, serif;
  font-size: 3.0517578125rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: start;
}

h1 {
  max-width: 15ch;
}

h2, h3 {
  font-weight: 900;
  max-width: 25ch;
}

h3 {
  font-weight: 400;
}

.text {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  text-decoration-line: overline;
  text-decoration-color: red;
  text-decoration-style: solid;
  margin-left: 3.8146972656rem;
  margin-right: 3.8146972656rem;
}
@supports (text-decoration-thickness: 1px) {
  .text {
    text-decoration-thickness: 0.25rem;
  }
}

.body {
  font-size: 1rem;
}
