@use 'sass:map';
@use '../../prop-labels' as labels;

$font-variant-utils: false !default;

$variants: (
  small-caps: small-caps,
  all-small-caps: all-small-caps,
  petite-caps: petite-caps,
  all-petite-caps: all-petite-caps,
  unicase: unicase,
  titling-caps: titling-caps,
);

@if $font-variant-utils {
  $label: map.get(labels.$prop-labels, font-variant);
  @each $key, $value in $variants {
    .#{$label}--#{$key} {
      font-variant: $value;
    }
  }
}