$font-style-utils: false !default;

$styles: (
  normal: normal,
  italic: italic,
  oblique: oblique,
);

@if $font-style-utils {
  @each $key, $value in $styles {
    .font-style--#{$key} {
      font-style: $value;
    }
  }
}
