@use 'sass:map';
@use 'sass:list';
@use '../../config';

$prefer-web-safe: false !default;

@if not $prefer-web-safe {
  // this is the default - we import 4 fonts from google fonts and set them against semantic variables.
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
  
  $font-family-serif: 'Playfair Display', serif;
  $font-family-sans-serif: 'Poppins', sans-serif;
  $font-family-cursive: 'Dancing Script', cursive;
  $font-family-monospace: 'Source Code Pro', monospace;
}

// Web Safe Fonts:
// define variables for all standart web-safe fonts.
$font-family-arial: Arial, sans-serif;
$font-family-verdana: Verdana, sans-serif;
$font-family-helvetica: Helvetica, sans-serif;
$font-family-tahoma: Tahoma, sans-serif;
$font-family-trebuchet-ms: 'Trebuchet MS', sans-serif;
$font-family-times-new-roman: 'Times New Roman', serif;
$font-family-georgia: Georgia, serif;
$font-family-garamond: Garamond, serif;
$font-family-courier-new: 'Courier New', monospace;
$font-family-brush-script-mt: 'Brush Script MT', cursive;

// If the module is being used with the 'use-web-safe' flag set to true,
// then we set the font-family variables with some of the web-safe fonts
// defined above.
@if $prefer-web-safe {
  $font-family-serif: $font-family-georgia;
  $font-family-sans-serif: $font-family-verdana;
  $font-family-cursive: $font-family-brush-script-mt;
  $font-family-monospace: $font-family-courier-new;
}
// by this point, the font-family vars will have either a google fonts font,
// or a web-safe font assigned to them.
$finch-font-families: (
  serif: $font-family-serif,
  sans-serif: $font-family-sans-serif,
  cursive: $font-family-cursive,
  monospace: $font-family-monospace,
);
$set-font-families: () !default;
$families: map.merge($finch-font-families, $set-font-families);

$web-safe: (
  Arial: $font-family-arial,
  Verdana: $font-family-verdana,
  Helvetica: $font-family-helvetica,
  Tahoma: $font-family-tahoma,
  'Trebuchet MS': $font-family-trebuchet-ms,
  'Times New Roman': $font-family-times-new-roman,
  Georgia: $font-family-georgia,
  Garamond: $font-family-garamond,
  'Courier New': $font-family-courier-new,
  'Brush Script MT': $font-family-brush-script-mt,
);

// Getter function
@function get-font-family($key) {
  // if a system, web-safe or global value is passed (e.g. ui-serif, Arial, inherit respectively) we just pass it straight back:
  $generic-names: (fantasy, system-ui, ui-serif, ui-sans-serif, ui-monospace, ui-rounded, math, emoji, fangsong);
  @if list.index(config.$global-values, $key) or list.index($web-safe, $key) or list.index($generic-names, $key) {
    @return $key;
  }
  // otherwise we try and find that font-family in the map, and handle the error case below if the family isn't found:
  $value: map.get($families, $key);
  @if $value {
    @return $value;
  }

  @warn 'No font-family found for "#{$key}"';
  @return null;
}
