@use 'sass:map';
@use 'sass:list';
@use '../../config';

$text-decoration-lines: (
  none: none,
  underline: underline,
  overline: overline,
  both: underline overline,
  line-through: line-through,
);

$text-decoration-styles: (solid, double, dotted, dashed, wavy);

// only `text-decoration-thickness` is configurable, and uses the modular scale:
$text-decoration-thickness-thin: map.get(config.$atomic-scale, 500);
$text-decoration-thickness-base: map.get(config.$atomic-scale, 600);
$text-decoration-thickness-thick: map.get(config.$atomic-scale, 700);

$finch-text-decoration-thicknesses: (
  thin: $text-decoration-thickness-thin,
  base: $text-decoration-thickness-base,
  thick: $text-decoration-thickness-thick,
);
$set-decoration-thicknesses: () !default;
$thicknesses: map.merge($finch-text-decoration-thicknesses, $set-decoration-thicknesses);

/// define mixins for including text-decoration separately.
/// ----------
/// Decorate
/// ----------
/// @author stephen pal-george
/// @param $line a value to be set against the text-decoration-line property.
/// @param $color a value to be set against the text-decoration-color property.
/// @param $style a value to be set against the text-decoration-style property.
/// @param $thickness a value to be used for a lookup in the `thicknesses` map.
@mixin decorate($line: underline, $color: currentColor, $style: solid, $thickness: thin) {
  @if $line == both {
    text-decoration-line: underline overline;
  }
  @else {
    text-decoration-line: $line;
  }
  text-decoration-color: $color;
  text-decoration-style: $style;
  @supports (text-decoration-thickness: 1px) {
    text-decoration-thickness: map.get($thicknesses, $thickness);
  }
}

/// Text Decoration Utilities
/// ----------
/// use the `decorate` mixin above to set particular, common, text-decoration values.
@mixin underline($color: currentColor, $style: solid, $thickness: thin) {
  @include decorate($line: underline, $color: $color, $style: $style, $thickness: $thickness);
}

@mixin overline($color: currentColor, $style: solid, $thickness: thin) {
  @include decorate($line: overline, $color: $color, $style: $style, $thickness: $thickness);
}

@mixin strike($color: currentColor, $style: solid, $thickness: thin) {
  @include decorate($line: line-through, $color: $color, $style: $style, $thickness: $thickness);
}
