@use 'sass:map';
@use 'sass:list';
@use '../../config';

$text-indent-none: 0;
$text-indent-tight: map.get(config.$size-scale, 200);
$text-indent-base: map.get(config.$size-scale, 400);
$text-indent-wide: map.get(config.$size-scale, 600); 

$finch-text-indents: (
  none: $text-indent-none,
  tight: $text-indent-tight,
  base: $text-indent-base,
  wide: $text-indent-wide,
);
$set-text-indents: () !default;
$indents: map.merge($finch-text-indents, $set-text-indents);

@function get-text-indent($key) {
  // return the given value immediately if it is a global property value:
  @if list.index(config.$global-values, $key) {
    @return $key;
  }

  $value: map.get($indents, $key);
  @if $value {
    @return $value;
  }

  @warn 'No indent found for "#{$key}"';
  @return null;
}
