@use 'sass:map';
@use '../../prop-labels' as labels;

$text-transform-utils: false !default;

$transforms: (
  none: none,
  capitalize: capitalize,
  uppercase: uppercase,
  lowercase: lowercase,
  full-width: full-width,
  full-size-kana: full-size-kana,
);

@if $text-transform-utils {
  $label: map.get(labels.$prop-labels, text-transform);
  @each $key, $value in $transforms {
    .#{$label}--#{$key} {
      text-transform: $value;
    }
  }
}
