$displays: (
  none: none,
  block: block,
  inline: inline,
  inline-block: inline-block,
  grid: grid,
  flex: flex,
);

// utility mixins:
@mixin flex-center($axis: both, $dir: row) {
  display: flex;
  flex-direction: $dir;
  @if $dir == row {
    @if $axis == x or $axis == both {
      justify-content: center;
    }

    @if $axis == y or $axis == both {
      align-items: center;
    }
  }

  @else if $dir == column {
    @if $axis == x or $axis == both {
      align-items: center;
    }

    @if $axis == y or $axis == both {
      justify-content: center;
    }
  }
}

@mixin flex-blocks($block-min: 16rem, $justify: flex-start, $align: flex-start, $reverse: false) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if $reverse { flex-flow: row-reverse wrap; }
  @else { flex-flow: row wrap; }

  > * {
    flex: 1 1;
    min-width: $block-min;
  }
}