@use 'sass:map';
@use 'sass:list';
@use '../../config';

$padding-utils: false !default;

$finch-paddings: (
  small: map.get(config.$size-scale, 200),
  base: map.get(config.$size-scale, 400),
  large: map.get(config.$size-scale, 700),
  x-large: map.get(config.$size-scale, 1000),
);

$set-paddings: () !default;
$padding-sizes: map.merge($finch-paddings, $set-paddings);

@function get-padding($key) {
  // immediately return the given value if it is a 'global' value:
  @if list.index(config.$global-values, $key) {
    @return $key;
  }

  $value: map.get($padding-sizes, $key);
  @if $value {
    @return $value;
  }

  @warn 'No padding found for "#{$key}"';
  @return null;
}

@mixin padding($key, $axis: null) {
  @if $axis == x or $axis == 'x' {
    padding-left: get-padding($key);
    padding-right: get-padding($key);
  }

  @else if $axis == y or $axis == 'y' {
    padding-top: get-padding($key);
    padding-bottom: get-padding($key);
  }

  @else {
    padding: get-padding($key);
  }
}

@if $padding-utils {
  @each $key, $value in $padding-sizes {
    .padding--#{$key} {
      padding: $value;
    }
  }
}
