@use 'sass:map';
@use 'sass:list';
@use '../config';

$size-utils: false !default;

$finch-font-sizes: (
  small-print: map.get(config.$size-scale, 300),
  base: map.get(config.$size-scale, 400),
  lead: map.get(config.$size-scale, 500),
  sub-heading: map.get(config.$size-scale, 800),
  heading: map.get(config.$size-scale, 900),
) !default;

$set-font-sizes: () !default;
$sizes: map.merge($finch-font-sizes, $set-font-sizes);

@function size($key) {
  // return the given value immediately if it is a reserved keyword for this property:
  $spec-values: (xx-small, x-small, small, medium, large, x-large, xx-large, xxx-large);
  @if list.index(config.$global-values, $key) or list.index($spec-values, $key) {
    @return $key;
  }

  $value: map.get($sizes, $key);
  @if $value {
    @return $value;
  }

  @warn 'no font-size found for "#{$key}"';
  @return null;
}

@if $size-utils {
  @each $key, $value in $sizes {
    .size--#{$key} {
      font-size: $value;
    }
  }
}
