@use 'sass:map';
@use 'sass:list';
@use '../config';

$letter-spacing-utils: false !default;

$letter-spacing-tight: map.get(config.$atomic-scale, 300);
$letter-spacing-base: map.get(config.$atomic-scale, 400);
$letter-spacing-wide: map.get(config.$atomic-scale, 600);

$finch-letter-spacings: (
  tight: $letter-spacing-tight,
  base: $letter-spacing-base,
  wide: $letter-spacing-wide,
);

$set-letter-spacings: () !default;
$l-spacings: map.merge($finch-letter-spacings, $set-letter-spacings);

@function letter-spacing($key) {
  // return the given value immediately if it is a reserved keyword for this property:
  $spec-values: (normal);
  @if list.index(config.$global-values, $key) or list.index($spec-values, $key) {
    @return $key;
  }

  $value: map.get($l-spacings, $key);
  @if $value {
    @return $value;
  }

  @warn 'No spacing found for "#{$key}"';
  @return null;
}

@if $letter-spacing-utils {
  @each $key, $value in $l-spacings {
    .letter-spacing--#{$key} {
      letter-spacing: $value;
    }
  }
}
