@use 'sass:map';

$line-height-utils: false !default;

$line-height-tight: 1;
$line-height-base: 1.4;
$line-height-tall: 1.7;

$finch-line-heights: (
  tight: $line-height-tight,
  base: $line-height-base,
  tall: $line-height-tall,
);

$set-line-heights: () !default;
$heights: map.merge($finch-line-heights, $set-line-heights);

@function line-height($key) {
  $value: map.get($heights, $key);
  @if $value {
    @return $value;
  }

  @warn 'no line-height found for #{$key}';
  @return null;
}

@if $line-height-utils {
  @each $key, $value in $heights {
    .line-height--#{$key} {
      line-height: $value;
    }
  }
}
