@use 'sass:map';
@use 'sass:list';
@use '../config';

$line-height-utils: false !default;

$line-height-x-tight: 1;
$line-height-tight: 1.2;
$line-height-base: 1.5;
$line-height-tall: 1.75;

$finch-line-heights: (
  x-tight: $line-height-x-tight,
  tight: $line-height-tight,
  base: $line-height-base,
  tall: $line-height-tall,
);

$set-line-heights: () !default;
$heights: map.merge($finch-line-heights, $set-line-heights);

@function line-height($key) {
  // return the given value immediately if it is a reserved keyword for this property:
  $spec-values: (normal);
  @if list.index(config.$global-values, $key) or list.index($spec-values, $key) {
    @return $key;
  }

  $value: map.get($heights, $key);
  @if $value {
    @return $value;
  }

  @warn 'no line-height found for "#{$key}"';
  @return null;
}

@if $line-height-utils {
  @each $key, $value in $heights {
    .line-height--#{$key} {
      line-height: $value;
    }
  }
}
