@use 'sass:map';

$size-utils: false !default;
$size-scale: () !default;

$finch-font-sizes: (
  small: map.get($size-scale, '300'),
  base: map.get($size-scale, '400'),
  lead: map.get($size-scale, '600'),
) !default;

$set-font-sizes: () !default;
$sizes: map.merge($finch-font-sizes, $set-font-sizes);

@function size($key) {
  $value: map.get($sizes, $key);
  @if $value {
    @return $value;
  }

  @warn 'no font-size found for #{$key}';
  @return null;
}

@if $size-utils {
  @each $key, $value in $sizes {
    .size--#{$key} {
      font-size: $value;
    }
  }
}
