$text-transform-utils: false !default;

$transforms: (
  none: none,
  capitalize: capitalize,
  uppercase: uppercase,
  lowercase: lowercase,
  full-width: full-width,
  full-size-kana: full-size-kana,
);

@if $text-transform-utils {
  @each $key, $value in $transforms {
    .text-transform--#{$key} {
      text-transform: $value;
    }
  }
}
