@use 'sass:map';

$gen-utils: false !default;

$weight-base: 400 !default;
$weight-x-light: $weight-base * .5; // default 200
$weight-light: $weight-base * .75; // default 300
$weight-bold: $weight-base * 1.75; // default 700
$weight-heavy: $weight-base * 2.25; // default 900

$finch-font-weights: (
  x-light: $weight-x-light,
  light: $weight-light,
  base: $weight-base,
  bold: $weight-bold,
  heavy: $weight-heavy,
);

$set-font-weights: () !default;
$weights: map.merge($finch-font-weights, $set-font-weights);

@function weight($key) {
  $value: map.get($weights, $key);
  @if $value {
    @return $value;
  }

  @warn 'No weight found for #{$key}';
  @return null;
}

@if $gen-utils {
  @each $key, $value in $weights {
    .weight--#{$key} {
      font-weight: $value;
    }
  }
}
