@use 'sass:map';
<<<<<<< HEAD
@use 'sass:list';
=======
>>>>>>> ce43aa4d1a8f46c0fa2d5688fae000deafaa2072
@use '../config';

$word-spacing-utils: false !default;

$word-spacing-tight: map.get(config.$atomic-scale, 300);
$word-spacing-base: map.get(config.$atomic-scale, 400);
$word-spacing-wide: map.get(config.$atomic-scale, 700);

$finch-word-spacings: (
  'tight': $word-spacing-tight,
  'base': $word-spacing-base,
  'wide': $word-spacing-wide,
);

$set-word-spacings: () !default;
$w-spacings: map.merge($finch-word-spacings, $set-word-spacings);

@function word-spacing($key) {
<<<<<<< HEAD
  // return the given value immediately if it is a reserved keyword for this porperty:
  $spec-values: (normal);
  @if list.index(config.$global-values, $key) or list.index($spec-values, $key) {
    @return $key;
  }

=======
>>>>>>> ce43aa4d1a8f46c0fa2d5688fae000deafaa2072
  $value: map.get($w-spacings, $key);
  @if $value {
    @return $value;
  }

  @warn 'No word-spacing found for "#{$key}"';
  @return null;
}

@if $word-spacing-utils {
  @each $key, $value in $w-spacings {
    .word-spacing--#{$key} {
      word-spacing: $value;
    }
  }
}
