@use 'sass:map';


/// SIZES
/// ----------
/// @author stephen pal-george
///
$size-base: 1rem !default;

$finch-size-scale: (
  '100': $size-base * .4,
  '200': $size-base * .6,
  '300': $size-base * .8,
  '400': $size-base,
  '500': $size-base * 1.2,
  '600': $size-base * 1.4,
  '700': $size-base * 1.8,
  '800': $size-base * 2,
  '900': $size-base * 3,
  '1000': $size-base * 4,
);

$set-size-scale: () !default;
$size-scale: map.merge($finch-size-scale, $set-size-scale);
