/// Config map over-rides:
$root-sizes: () !default;
$atomic-sizes: () !default;
/// Layout map over-rides:
$set-breakpoints: () !default;
/// Typography map over-rides:
$set-font-families: () !default;
$set-font-sizes: () !default;
$set-font-weights: () !default;
$set-letter-spacings: () !default;
$set-line-heights: () !default;
$set-text-decoration-thicknesses: () !default;
$set-text-indents: () !default;
$set-word-spacings: () !default;
$set-font-responsive: () !default;
$set-font-utilities: () !default;
$set-use-web-safe: false !default;

@use './config' with (
  $set-atomic-scale: $atomic-sizes,
  $set-size-scale: $root-sizes,
);

@use './layout' with (
  $set-breakpoints: $set-breakpoints,
);

@use './typography' with (
  $use-web-safe: $set-use-web-safe,
  $font-families: $set-font-families,
  $font-sizes: $set-font-sizes,
  $font-weights: $set-font-weights,
  $letter-spacings: $set-letter-spacings,
  $line-heights: $set-line-heights,
  $text-decoration-thicknesses: $set-text-decoration-thicknesses,
  $text-indents: $set-text-indents,
  $word-spacings: $set-word-spacings,
  $set-responsive: $set-font-responsive,
  $set-utilities: $set-font-utilities,
);

// N.B. must make sure none of the partials share any variable names,
// otherwise they will clash on load.
@forward './typography' as type-*;
@forward './typography/font-families' as type-*;
@forward './typography/font-sizes' as type-*;
@forward './typography/font-weights' as type-*;
@forward './typography/letter-spacings' as type-*;
@forward './typography/line-heights' as type-*;
@forward './typography/text-decoration' as type-*;
@forward './typography/text-indent' as type-*;
@forward './typography/word-spacings' as type-*;