/// Config map over-rides:
$set-size-base: 1rem !default;
$set-scale: root !default;
$set-config-atomic-scale: () !default;
$set-config-breakpoints: () !default;
$set-config-size-scale: () !default;
/// Color map over-rides:
$set-colors: () !default;
$set-color-responsive: () !default;
$set-color-utilities: () !default;
/// Layout map over-rides:
$set-border-radii: () !default;
$set-border-widths: () !default;
$set-margins: () !default;
$set-paddings: () !default;
$set-z-indices: () !default;
$set-layout-responsive: () !default;
$set-layout-utilities: () !default;
/// Typography map over-rides:
$set-font-families: () !default;
$set-font-sizes: () !default;
$set-font-weights: () !default;
$set-letter-spacings: () !default;
$set-line-heights: () !default;
$set-text-decoration-thicknesses: () !default;
$set-text-indents: () !default;
$set-word-spacings: () !default;
$set-font-responsive: () !default;
$set-font-utilities: () !default;
$set-use-web-safe: false !default;

@use 'reset';

@use './config' with (
  $set-atomic-scale: $set-config-atomic-scale,
  $set-breakpoints: $set-config-breakpoints,
  $set-size-scale: $set-config-size-scale,
  $size-base: $set-size-base,
  $use-scale: $set-scale,
);

@use './color' with (
  $colors: $set-colors,
  $set-responsive: $set-color-responsive,
  $set-utilities: $set-color-utilities,
);

@use './layout' with (
  $border-radii: $set-border-radii,
  $border-widths: $set-border-widths,
  $margins: $set-margins,
  $paddings: $set-paddings,
  $z-indices: $set-z-indices,
  $set-responsive: $set-layout-responsive,
  $set-utilities: $set-layout-utilities,
);

@use './typography' with (
  $use-web-safe: $set-use-web-safe,
  $font-families: $set-font-families,
  $font-sizes: $set-font-sizes,
  $font-weights: $set-font-weights,
  $letter-spacings: $set-letter-spacings,
  $line-heights: $set-line-heights,
  $text-decoration-thicknesses: $set-text-decoration-thicknesses,
  $text-indents: $set-text-indents,
  $word-spacings: $set-word-spacings,
  $set-responsive: $set-font-responsive,
  $set-utilities: $set-font-utilities,
);

// N.B. must make sure none of the partials share any variable names,
// otherwise they will clash on load.
@forward './color' as clr-*;

@forward './layout' as lyt-*;
@forward './layout/properties/borders' as lyt-*;
@forward './layout/properties/displays' as lyt-*;
@forward './layout/properties/margins' as lyt-*;
@forward './layout/properties/paddings' as lyt-*;
@forward './layout/properties/positions' as lyt-*;
@forward './layout/properties/z-indices' as lyt-*;

@forward './typography' as typ-*;
@forward './typography/properties/font-families' as typ-*;
@forward './typography/properties/font-sizes' as typ-*;
@forward './typography/properties/font-weights' as typ-*;
@forward './typography/properties/letter-spacings' as typ-*;
@forward './typography/properties/line-heights' as typ-*;
@forward './typography/properties/text-decorations' as typ-*;
@forward './typography/properties/text-indents' as typ-*;
@forward './typography/properties/word-spacings' as typ-*;