$root-sizes: () !default;
$set-breakpoints: () !default;
$set-font-sizes: () !default;
$set-font-weights: () !default;
$set-letter-spacings: () !default;
$set-line-heights: () !default;
$set-font-responsive: () !default;
$set-font-utilities: () !default;

@use './config' with (
  $set-size-scale: $root-sizes,
);

@use './layout' with (
  $set-breakpoints: $set-breakpoints,
);

@use './typography' with (
  $font-sizes: $set-font-sizes,
  $font-weights: $set-font-weights,
  $letter-spacings: $set-letter-spacings,
  $line-heights: $set-line-heights,
  $set-responsive: $set-font-responsive,
  $set-utilities: $set-font-utilities,
);

// N.B. must make sure none of the partials share any variable names,
// otherwise they will clash on load.
@forward './typography' as type-*;
@forward './typography/sizes' as type-*;
@forward './typography/weights' as type-*;