@use 'sass:map';
@use '../config';

/// MODULE SETUP
/// ----------
/// @author stephen pal-george
/// This map controls whether the styles are generated specifically for each breakpoint.
/// If true, then placeholders and classes such as `(\.|%)sm\:spacer--large` will be created.
$layout-responsive: (
  display: false,
  margin: false,
  padding: true,
  position: false,
  z-index: false,
);
/// provide custom 'responsive' settings for this module.
/// @example @use '<path-to-finch>/layout' with ($set-responsive: (margin-left: true));
$set-responsive: () !default;
$responsive: map.merge($layout-responsive, $set-responsive);

/// @author stephen pal-george
/// This map controls whether or not utility classes are generated. By default,
/// Finch will not create any class names. Switching any of these values to `true`
/// will create the classes for that property.
$layout-utilities: (
  display: false,
  margin: false,
  padding: true,
  position: false,
  z-index: false,
  stack: false,
);
/// provide custom 'utilities' settings for this module.
/// @example @use '<path-to-finch>/layout' with ($set-utilities: (padding-top: true));
$set-utilities: () !default;
$utilities: map.merge($layout-utilities, $set-utilities);

/// MODULE CONFIG
/// ----------
/// These are the variables that the module can be `@used` with, to customise the compiled CSS output.
/// @example @use '<path-to-finch>/layout' with ($spacers: (large: 5rem));
/// @example @use '<path-to-finch>/layout' with ($offset: (large: 4rem));
$margins: () !default;
$paddings: () !default;
$z-indices: () !default;

/// FORWARD THE PROPERTIES
/// We pass along the property files with any custom configuration as required.
@forward './properties/displays';
@forward './properties/margins' with ($set-margins: $margins);
@forward './properties/paddings' with ($set-paddings: $paddings);
@forward './properties/positions';
@forward './properties/z-indices' with ($set-z-indices: $z-indices);

/// LOAD THE PROPERTIES
/// ----------
/// We use the property files within the module itself, to generate responsive classes,
/// and as part of the composition of some top-level mixins, we therefore load them all in here:
@use '../_mixins' as m;
@use 'properties/displays' as *;
@use 'properties/margins' as *;
@use 'properties/paddings' as *;
@use 'properties/positions' as *;
@use 'properties/z-indices' as *;

$layout-maps: (
  display: $displays,
  margin: $margin-sizes,
  padding: $padding-sizes,
  position: $positions,
  z-index: $indices,
);

/// GENERATE UTILITY CLASS NAMES
/// the following code generates classes such as `.pad--large` or `.pos--absolute`.
/// the classes will only be generated if the corresponding property is set to `true` in
/// the $layout-utilities map.
@each $property, $flag in $utilities {
  @if $flag {
    @include m.gen-utils($property, map.get($layout-maps, $property));
  }
}

/// GENERATE RESPONSIVE CLASS NAMES
/// ----------
/// the following code generates classes such as `sm:size--lead`, or `xl:weight--heavy`.
/// the classes will only be generated if the corresponding property is set to 'true' in
/// the $responsive map.
@each $key, $value in config.$breakpoints-map {
  @include config.break($key) {
    @each $property, $flag in $responsive {
      @if $flag {
        @include m.gen-responsive($key, $property, map.get($layout-maps, $property));
      }
    }
  }
}

/// MODULE-LEVEL MIXINS
/// ----------
/// the module level mixins combine several different properties from within the layout module.

/// BOX-RESET
@mixin box-reset($content: true, $border: true) {
  @include padding(none);
  @include margin(none);
  
  @if $content {
    width: initial;
    height: initial;
  }

  @if $border {
    border: none;
  }
}

/// STACK [LAYOUT-PRIMITIVES]
/// ----------
@mixin stack($flow: large, $recursive: false) {
  /// Recursive stack:
  /// Top margin is applied to any element that follows any other element
  /// regardless of nesting/depth.
  @if $recursive {
    * + * { margin-top: get-margin($flow); }
  }

  /// Non-recursive stack (this is the default):
  /// Top margin is applied only to the immediate children of the 'stack'
  /// element, not to their children as well.
  @else {
    > * + * { margin-top: get-margin($flow); }
  }
}
/* stack utilities - generates classes like `.stack:large`, `.stack-recursive:base` etc */
@if map.get($utilities, stack) {
  @each $mar, $val in $margin-sizes {
    .stack\:#{$mar} {
      @include stack($flow: $mar);
    }
  
    .stack-recursive\:#{$mar} {
      @include stack($flow: $mar, $recursive: true);
    }
  }
}
