@use 'sass:map';
@use '../config';

/// MODULE SETUP
/// ----------
/// This map controls whether the styles are generated specifically for each breakpoint.
/// If true, then placeholders and classes such as `.padding:large@md` will be created.
$layout-responsive: (
  border-radius: false,
  border-width: false,
  display: false,
  margin: false,
  padding: true,
  position: false,
  z-index: false,
  stack: false,
  box: false,
);
/// provide custom 'responsive' settings for this module.
/// @example @use '<path-to-finch>/layout' with ($set-responsive: (margin-left: true));
$set-responsive: () !default;
$responsive: map.merge($layout-responsive, $set-responsive);

/// This map controls whether or not utility classes are generated. By default,
/// Finch will not create any class names. Switching any of these values to `true`
/// will create the classes for that property.
$layout-utilities: (
  border-radius: false,
  border-width: false,
  display: false,
  margin: false,
  padding: true,
  position: false,
  z-index: false,
  stack: false,
  box: false,
);
/// provide custom 'utilities' settings for this module.
/// @example @use '<path-to-finch>/layout' with ($set-utilities: (padding-top: true));
$set-utilities: () !default;
$utilities: map.merge($layout-utilities, $set-utilities);

/// MODULE CONFIG
/// ----------
/// These are the variables that the module can be `@used` with, to customise the compiled CSS output.
/// @example @use '<path-to-finch>/layout' with ($spacers: (large: 5rem));
/// @example @use '<path-to-finch>/layout' with ($offset: (large: 4rem));
$border-radii: () !default;
$border-widths: () !default;
$margins: () !default;
$paddings: () !default;
$z-indices: () !default;

/// FORWARD THE PROPERTIES
/// We pass along the property files with any custom configuration as required.
@forward './properties/borders' with (
  $set-border-radii: $border-radii,
  $set-border-widths: $border-widths
);
@forward './properties/displays';
@forward './properties/margins' with ($set-margins: $margins);
@forward './properties/paddings' with ($set-paddings: $paddings);
@forward './properties/positions';
@forward './properties/z-indices' with ($set-z-indices: $z-indices);

/// LOAD THE PROPERTIES
/// ----------
/// We use the property files within the module itself, to generate responsive classes,
/// and as part of the composition of some top-level mixins, we therefore load them all in here:
@use '../_mixins' as m;
@use 'properties/borders' as *;
@use 'properties/margins' as *;
@use 'properties/paddings' as *;
@use 'properties/positions' as *;
@use 'properties/z-indices' as *;

$layout-maps: (
  border-radius: $b-radii,
  border-width: $b-widths,
  display: (none, block, inline, inline-block, grid, flex),
  margin: $margin-sizes,
  padding: $padding-sizes,
  position: (absolute, fixed, relative, static, sticky),
  z-index: $indices,
);

/// GENERATE UTILITY CLASS NAMES
/// the following code generates classes such as `.pad--large` or `.pos--absolute`.
/// the classes will only be generated if the corresponding property is set to `true` in
/// the $layout-utilities map.
@each $property, $flag in $utilities {
  @if $flag {
    @include m.gen-utils($property, map.get($layout-maps, $property));
  }
}

/// GENERATE RESPONSIVE CLASS NAMES
/// ----------
/// the following code generates classes such as `sm:size--lead`, or `xl:weight--heavy`.
/// the classes will only be generated if the corresponding property is set to 'true' in
/// the $responsive map.
@each $key, $value in config.$breakpoints-map {
  @include config.break($key) {
    @each $property, $flag in $responsive {
      @if $flag {
        @include m.gen-responsive($key, $property, map.get($layout-maps, $property));
      }
    }
  }
}

/// MODULE-LEVEL MIXINS
/// ----------
/// the module level mixins combine several different properties from within the layout module.

/// BOX-RESET
/// @param $size {Boolean} determines if the width and height properties should be reset.
/// @param $border {Boolean} determines if the border property should be reset.
@mixin box-reset($size: true, $border: true) {
  @include padding(none);
  @include margin(none);
  
  @if $size {
    width: initial;
    height: initial;
  }

  @if $border {
    border: none;
  }
}

.box-reset { @include box-reset; }

/// BOX [LAYOUT-PRIMITIVES]
/// ----------
/// @param $padding a keyword value that represents a key in the 'paddings' map.
/// @param $reset {Boolean} a flag that determines whether or not the `box-reset` mixin should be included.
@mixin box($padding: base, $reset: false) {
  @if $reset { @include box-reset; }
  padding: get-padding($padding);
  // the outline code below is used to "draw" the box when a user has 'high-contrast' mode turned on:
  outline: .125rem solid transparent;
  outline-offset: -.125rem;

  * {
    color: inherit;
  }
}
/* box utilities - generates classes like `.box:large` `.box:base` */
@if map.get($utilities, box) {
  @each $pad, $val in $padding-sizes {
    .box\:pad-#{$pad} {
      @include box($padding: $pad);
    }
  }
}

/// PILLAR [LAYOUT-PRIMITIVES]
/// ----------
/// @param $max a width that will limit the size of the pillar.
/// @param $padding a keyword value that represents a key in the 'paddings' map.
/// @param $intrinsic a flag that determines if the flex column code should be included.
@mixin pillar($max: null, $padding: base, $intrinsic: false) {
  box-sizing: content-box;
  @include margin($key: auto, $axis: x);
  @include padding($key: $padding, $axis: x);
  
  @if $max {
    width: min(100%, $max);
  }

  /// instrinsic centering means a "center"'s children will also be centered
  /// if their width is less than that of their parents.
  @if $intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/// STACK [LAYOUT-PRIMITIVES]
/// ----------
@mixin stack($flow: large, $recursive: false) {
  $stack-gap: get-margin($flow);
  /// Recursive stack:
  /// Top margin is applied to any element that follows any other element
  /// regardless of nesting/depth.
  @if $recursive {
    * + * { margin-top: $stack-gap; }
  }

  /// Non-recursive stack (this is the default):
  /// Top margin is applied only to the immediate children of the 'stack'
  /// element, not to their children as well.
  @else {
    > * + * { margin-top: $stack-gap; }
  }
}
/* stack utilities - generates classes like `.stack:large`, `.stack-recursive:base` etc */
@if map.get($utilities, stack) {
  @each $mar, $val in $margin-sizes {
    .stack\:#{$mar} {
      @include stack($flow: $mar);
    }
  
    .stack-recursive\:#{$mar} {
      @include stack($flow: $mar, $recursive: true);
    }
  }
}
